@font-face {
font-family: 'Sail';
font-style: normal;
font-weight: 400;
src: local('Sail'), local('Sail-Regular'), url(http://fonts.gstatic.com/s/sail/v7/Bt17tTHUY1ObErWe-q2rzw.ttf) format('truetype');
}